@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Exo+2:ital,wght@0,200;0,300;0,500;0,600;0,700;1,200;1,300;1,500;1,600;1,700;1,800;1,900&family=Oxanium:wght@200;300;400;500;600;700&display=swap');

:root {
	--font-principal: 'Exo 2';
	--font-secundaria: 'Oxanium';
	--font-tercera: 'Comfortaa';
	--sombra-box: 4px 4px 10px #00000085;
	--color-rojo: #BE3144;
	--color-gris-claro: #D3D6DB;
	--color-negro: #303841;
	--color-gris-oscuro: #3A4750;
}

h1,
h2 {
	font-family: var(--font-principal);
}

h3,
h4 {
	font-family: var(--font-secundaria);
}

p,
input,
a,
label {
	font-family: var(--font-secundaria);
}

button {
	font-family: var(--font-tercera);
}

body {
	background-image: -o-linear-gradient(45deg, var(--color-negro), var(--color-gris-oscuro));
	background-image: linear-gradient(45deg, var(--color-negro), var(--color-gris-oscuro));
	height: 100vh;
}

/* barra de navegacion */

nav {
	width: 100%;
	height: 3rem;
}

.logos {
	display: inline-block;
	height: 2rem;
	width: auto;
	margin-inline-start: 2rem;
	margin-block-start: 1rem;
}

/* main */

.contenedor__formulario {
	background-color: var(--color-gris-claro);
	margin: 7rem auto;
	padding: 2em;
	width: 30%;
	min-width: -webkit-fit-content;
	min-width: -moz-fit-content;
	min-width: fit-content;
	min-height: 50%;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	-webkit-box-shadow: var(--sombra-box);
	        box-shadow: var(--sombra-box);
}

.login__formulario {
	text-align: center;
}

.login__formulario input:not(.btn) {
	width: auto;
	height: 2em;
	margin: 1em auto;
	padding: 0 2em;
	color: var(--color-gris-claro);
	font-family: var(--font-secundaria);
	font-size: 1em;
	background-color: var(--color-negro);
	-webkit-box-shadow: inset -1px -1px 4px 0px black;
	        box-shadow: inset -1px -1px 4px 0px black;
}

.contenedor__nuevo-registro {
	box-shadow: var(--sombra-box);
	background-color: var(--color-gris-oscuro);
	text-align: center;
	color: var(--color-gris-claro);
}

/* botones */

.btn {
	width: 12em;
	height: 2.3em;
	margin: 1em auto;
	padding: 0.3em ;
	background-color: var(--color-rojo);
	font-family: var(--font-secundaria);
	color: var(--color-gris-claro);
	text-align: center;
	-webkit-box-shadow: var(--sombra-box);
	        box-shadow: var(--sombra-box);
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.btn:hover {
	color: var(--color-gris-claro);
	background-color: var(--color-gris-oscuro);
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
}

/* texto de notas en formulario */
.texto__formulario {
	font-family: var(--font-principal);
    margin: 1em 1em 1em;
	text-align: center;
}

.formulario__titulo {
	padding: 0em 2em;
	margin: 1em auto;
	height: 2em;
	font-family: var(--font-principal);
	color:var(--color-rojo);
	font-size: 2em;
	text-align: center;
	border-bottom: 2px solid var(--color-negro);
}

.notas {
	margin: auto;
	font-size: 0.8em;
	color: var(--color-gris-oscuro);
	font-family: var(--font-tercera);
	width: 50%;
	text-align: center;
}

.texto--autenticar {
	font-size: 1.5em;
	margin-block: 5em;
}

/* alerta en errores del formulario */
.alert {
	display: block;
	font-size: 1em;
	font-family: var(--font-secundaria);
	color: var(--color-rojo);
}

.alert--none {
	display: none;
	font-size: 0;
}

/* Boton de logout */
.btn--logout {
	width: 7em;
    position: fixed;
    top: 1em;
    height: 2em;
    right: 1em;
    margin: 0.3em 0.3em;
    background-color: var(--color-rojo);
    font-family: var(--font-secundaria);
    color: var(--color-gris-claro);
    text-align: center;
    box-shadow: var(--sombra-box);
    transition: all 0.3s ease;
}

.btn--logout:hover {
	color: var(--color-gris-oscuro);
	background-color: var(--color-gris-claro);
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
}

/* formulario registro */
.contenedor__registro {
	background-color: var(--color-gris-claro);
	margin: 2rem auto;
	padding: 2em;
	width: 90%;
	min-width: -webkit-fit-content;
	min-width: -moz-fit-content;
	min-width: fit-content;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	-webkit-box-shadow: var(--sombra-box);
	        box-shadow: var(--sombra-box);
}

/* label */
.formulario__registro label {
	text-align: end;
    height: 2em;
    padding-block: 0.5em;
}

/* formregistro */
.titulo__registro {
	margin: 1em auto;
	text-align: center;
	color: var(--color-rojo);
	border: none;
}

.formulario__registro input:not(.btn),
.formulario__registro textarea,
.formulario__registro select {
	height: 2em;
	padding: 0 2em;
	color: var(--color-gris-claro);
	font-family: var(--font-secundaria);
	font-size: 1em;
	background-color: var(--color-negro);
	-webkit-box-shadow: inset -1px -1px 4px 0px black;
	        box-shadow: inset -1px -1px 4px 0px black;
}

.formulario__registro input[type="file"] {
	background-color: var(--color-gris-claro);
	color: #3A4750;
	box-shadow: none;
}

.formulario__registro li input,
.formulario__registro li label {
	display: inline;
}

.formulario__registro input[type="checkbox"] {
	background-color: aliceblue;
    margin: 1.5rem;
    padding: 2px 10px;
    border-radius: 10px;
}

.formulario__registro input[type="checkbox"]:checked {
	background-color: var(--color-rojo);
}

.formulario__registro textarea {
	height: 10rem;
	width: 70%;
	padding: 2em;
	margin: 0 auto;
}

.formulario__registro .row {
	margin-block: 0.7em;
}

/* Boton enviar registro */
.form__btn--enviar {
	font-size: 1.5rem;
	width: 100%;
	margin: 3rem auto 1rem;
	height: 4rem;
}


.header__registro {
	position: fixed;
	width: 100%;
	height: fit-content;
	background-color: var(--color-negro);
	z-index: 10;
}

.contenedor__btn--superior {
	margin: 1em;
}

.btn--superior {
	background-color: var(--color-rojo);
    box-sizing: border-box;
    padding: 2em;
    box-shadow: var(--sombra-box);
    height: 15rem;
	min-height: fit-content;
	transition: all 0.3s ease;
}

.btn--superior h2 {
	color: var(--color-gris-claro);
	font-size: 4em;
	font-family: var(--font-secundaria);

}

.btn--superior p {
	display: none;
	color: var(--color-gris-oscuro);
	font-family: var(--font-secundaria);
}

.btn--superior:hover {
	background-color: #D3D6DB;
}

.btn--superior:hover p {
	display: grid;
	font-size: 1.3em;
}

.btn--superior:hover h2 {
	display: none;
}

.btn--select {
	height: 10em;
}

.btn--noselect {
	display: none;
}

.btn--atras {
	height: 7em;
	margin: 1.5em;
	padding: 0.5em ;
	background-color: var(--color-rojo);
	font-family: var(--font-secundaria);
	color: var(--color-gris-claro);
	text-align: center;
	-webkit-box-shadow: var(--sombra-box);
	        box-shadow: var(--sombra-box);
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.btn--atras:hover {
	color: var(--color-negro);
	background-color: var(--color-gris-claro);
}

.btn--atras--none {
	display: none;
}

.main--select {
	background-color: var(--color-gris-claro);
	min-height: 100vh;
	height: fit-content;
}

.form__espacios--none {
	display: none;
}

.form__espacios {
	margin-inline: 5em;
}

/* btn juridico o narutal */
.contenedor__persona {
	margin: 2em;
	width: fit-content;
	height: fit-content;
	border: 2px solid var(--color-rojo);
	border-radius: 2px;
	font-family: var(--font-secundaria);
	text-align: center;
	border-radius: 2px;
	color: var(--color-gris-claro);
}

.persona__tipo {
	width: 10em;
	height: 3em;
	background-color: var(--color-negro);
	padding: 1em 0em;
	transition: all 0.3s ease;
}

.persona__tipo:hover {
	background-color: var(--color-rojo);
	transform: scale(1.1);
}

.persona__tipo--active {
	background-color: var(--color-rojo);
}

.accordion-body div {
	padding: 0.5em 1em;
	border-bottom: 0.05em solid rgba(0, 0, 0, 0.299);
}

.accordion-body label {
	margin: 0.5em;
	text-align: start;
}

.accordion-body input {
	box-shadow: inset 0px 0px 5px 0px #343a40cf;
	height: 2.1em;
}

.accordion-body textarea {
	box-shadow: inset 0px 0px 5px 0px #343a40cf;
	height: 4.5em;
}

.select-form {
	box-shadow: 0px 0px 5px 0px #343a40cf;
	height: 1.7em;
	border-radius: 10px;
}

.accordion-body .input-file {
	box-shadow: none;
}

/* profile */

.container__profile {
	padding: 0 1em 1em;
}

.profile__header {
	margin: 2rem;
	padding: 1rem;
}

.container__card__profile {
	padding: 4rem;
	background-color: var(--color-gris-claro);
	box-shadow: var(--sombra-box);
}

.profile__company {

}

.profile__type {

}

.profile__representante {

}

.profile__name {

}

/* espacios y gestores */
.body__profile {
	background-color: var(--color-gris-claro);
	padding: 3em;
}

.container__card__espacio {
	background-color: var(--color-negro);
	color: var(--color-gris-claro);
	border-radius: 15px 1px;
	box-shadow: var(--sombra-box);
	margin: 1rem auto;
	padding: 3rem;
}

/* notificaciones en el perfil */

.card__notification {
	background-color: #BE3144;
	color: var(--color-gris-claro);
	height: fit-content;
	padding: 0.5rem;
}

.notification__text {
	font-size: 1.1rem;
	text-align: center;
}

.card__notification button {
	margin: auto;
	width: 20rem;
	height: 2rem;
	background-color: var(--color-gris-claro);
	color: var(--color-negro);
	border-radius: 5px;
	transition: all ease 0.3ms;
}

.card__notification button:hover {
	transform: scale(1.1);
	background-color: var(--color-negro);
	color: var(--color-gris-claro);
}

/* Card  Add*/
.card__add {
	box-shadow: var(--sombra-box);
	height: fit-content;
	width: 40rem;
	padding: 2rem;
	margin: 3rem auto;
}

.card__add p {
	width: fit-content;
	margin: 1rem auto;
}

/* loader  */
.loader-section{
	width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
	left: 0;
    background-color: #212529f2;
    z-index: 999;
    transition: all 1s 1s ease-out;
}

.loaded{
	display: none;
}
	
.loader {
	width: 5rem;
	height: 5rem;
	border: 10px solid var(--color-rojo);
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	margin: 35% 45%;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}
  
@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
} 

/* seccion de notificaciones */
.container__notification {
	margin: 3rem;
	padding: 2rem;
	background-color: var(--color-gris-claro);
}

.notification__card p {

	color: var(--color-rojo);
}

.correct__form--none {
	display: none;
}

.correct__form {
	
}

/* acuerdo */
.acuerdo__display--none {
	display: none;
}

.acuerdo__display {

}